.side-panel-content {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    gap: 10px;
}

.kanji-title {
    font-size: 4rem;
    font-family: var(--font-kanji);
    text-align: center;
    margin-top: 10px;
}

.section {
    background-color: var(--bg-secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    padding: 10px;
}

.section-title {
    color: var(--text-main);

}

.chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.chip {
    color: var(--bg-primary);
    background-color: var(--accent-ink);
    padding: 1px 5px;
    border-radius: 10px;
    border: var(--text-main) 2px solid;
}

.kanji {
    font-weight: 700;
    font-family: var(--font-ui);
}

.meaning {
    font-family: var(--font-ui);
    font-weight: bold;
}

.unselected {
    width: 100%;
    color: var(--accent-ink);
    font-style: italic;
    text-align: center;
    padding-top: 20px;
}