<nav class="navbar p-lg-3 navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">漢字帳</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Daily Kanji</a>
                </li>
                                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbar-link" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Kanji Lists
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">kyōiku <span class="kanji">(教育漢字)</span></a></li>
                        <li><a class="dropdown-item" href="#">Jōyō <span class="kanji">(常用漢字)</span></a></li>
                        <li><a class="dropdown-item" href="#">Jinmeiyō <span class="kanji">(人名用漢字)</span></a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbar-link" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        JLPT
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">N1</a></li>
                        <li><a class="dropdown-item" href="#">N2</a></li>
                        <li><a class="dropdown-item" href="#">N3</a></li>
                        <li><a class="dropdown-item" href="#">N4</a></li>
                        <li><a class="dropdown-item" href="#">N5</a></li>
                    </ul>
                </li>
            </ul>
            <form>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon"><i class="bi bi-search"></i></span>
                    <input type="text" class="form-control" placeholder="search..." aria-label="search"
                        aria-describedby="basic-addon">
                </div>
            </form>
        </div>
    </div>
</nav>