.explore-container {
  display: flex;
  width: 100%;
  background-color: var(--bg-primary);
}

.side-panel-wrapper {
  width: 250px;
  border-right: 2px solid var(--border-color);
  position: sticky;
  top: var(--navbar-height);
  height: 100vh;
  overflow-y: auto;
}

.grid-area {
  flex: 1;
  padding: 20px;
}

.collection {
  text-align: center;
  padding-bottom: 15px;
  font-size: 1.5rem;
  color: var(--text-muted);
}